doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title Leela Zero Server

        link(rel="stylesheet" href="https://unpkg.com/vuetify@1.0.18/dist/vuetify.min.css" crossorigin="anonymous")

        block meta
    body
        main.container
            v-app
                v-toolbar(app dark)
                    v-toolbar-title Leela Zero
                    v-tabs(slot="extension")
                        v-tab(href="/") Home
                        v-tab(href="/network-profiles") Networks
                        v-tab(href="/opening") Opening

                v-content
                    block content

        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js" crossorigin="anonymous")
        script(src="https://unpkg.com/vuetify@1.0.18/dist/vuetify.min.js" crossorigin="anonymous")
        block script
